<b><i>Naive bayes simplifies the calculation of probabilities by assuming that the probability of each attribute belonging to a given class value is independent of all other attributes. This is a strong assumption but results in a fast and effective method.
    
Naive Bayes is a statistical classification technique based on Bayes Theorem. It is one of the simplest supervised learning algorithms. Naive Bayes classifier is the fast, accurate and reliable algorithm. Naive Bayes classifiers have high accuracy and speed on large datasets.    
    
 Naive Bayes classifier assumes that the effect of a particular feature in a class is independent of other features. For example, a loan applicant is desirable or not depending on his/her income, previous loan and transaction history, age, and location. Even if these features are interdependent, these features are still considered independently. This assumption simplifies computation, and that's why it is considered as naive. 
 
 Features are those characteristics or attributes which affect the results of the label. For example, in the case of a loan distribution, bank manager's identify customerâ€™s occupation, income, age, location, previous loan history, transaction history, and credit score. These characteristics are known as features which help the model classify customers.  
 
 P(h): the probability of hypothesis h being true (regardless of the data). This is known as the prior probability of h.
 
 P(D): the probability of the data (regardless of the hypothesis). This is known as the prior probability.
 
 P(h|D): the probability of hypothesis h given the data D. This is known as posterior probability.
 
 P(D|h): the probability of data d given that the hypothesis h was true.
 
   P(h|D) = (P(h) P(D|h))/P(D)</i></b>

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
iris_data = pd.read_csv(r'C:\Users\ankit.bo.kumar\dataset\iris\Iris.csv')
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
iris_data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [10]:
X=iris_data[['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [11]:
y = iris_data[['Species']]
y.head()

       Species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.75,random_state=0)

In [14]:
nB = GaussianNB()

In [15]:
nB.fit(X_train,y_train)

C:\Users\ankit.bo.kumar\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [19]:
y_pred = nB.predict(X_test)

numpy.ndarray

In [24]:
accuracy = accuracy_score(y_test,y_pred)
print('The prediction accuracy is', accuracy)

The prediction accuracy is 1.0

In [25]:
y_pred

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor'], dtype='<U15')

In [26]:
y_test

             Species
114   Iris-virginica
62   Iris-versicolor
33       Iris-setosa
107   Iris-virginica
7        Iris-setosa
100   Iris-virginica
40       Iris-setosa
86   Iris-versicolor
76   Iris-versicolor
71   Iris-versicolor
134   Iris-virginica
51   Iris-versicolor
73   Iris-versicolor
54   Iris-versicolor
63   Iris-versicolor
37       Iris-setosa
78   Iris-versicolor
90   Iris-versicolor
45       Iris-setosa
16       Iris-setosa
121   Iris-virginica
66   Iris-versicolor
24       Iris-setosa
8        Iris-setosa
126   Iris-virginica
22       Iris-setosa
44       Iris-setosa
97   Iris-versicolor
93   Iris-versicolor
26       Iris-setosa
137   Iris-virginica
84   Iris-versicolor
27       Iris-setosa
127   Iris-virginica
132   Iris-virginica
59   Iris-versicolor
18       Iris-setosa
83   Iris-versicolor